<!-- 1. عرض صفحة اللوجين كصفحة كاملة بدون الناف بار والسايد بار -->
@if (isAuthPage) {
  <main class="min-h-screen bg-slate-100">
    <router-outlet></router-outlet>
  </main>
} 

<!-- 2. عرض باقي صفحات النظام داخل الهيكل الرئيسي -->
@else {
<div class="h-screen flex flex-col">
  <!-- 1. الناف بار يمتد على كامل العرض من اليمين لليسار -->
  <app-navbar></app-navbar>

  <!-- 2. الجزء السفي يحتوي على السايد بار والصفحات -->
  <div class="flex-1 flex overflow-hidden">
    <app-sidebar></app-sidebar>
    <main class="flex-1 overflow-y-auto p-6 bg-slate-50">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
}