/* Custom Styles for Sidebar */
:host {
  display: block;
}

/* تخصيص الـ Scrollbar القائمة عند الحاجة */
aside {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
  }
}

