/* Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&display=swap');

/* Icons & Library Styles */
@import "primeicons/primeicons.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'ngx-toastr/toastr';
/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Reset & Global Fonts */
*, body {
  font-family: 'Cairo', system-ui, -apple-system, sans-serif !important;
}

html, body { 
  height: 100%; 
}

body {
  margin: 0;
  background-color: #f8fafc;
  direction: rtl; /* النظام باللغة العربية */
}

.cdk-overlay-pane.custom-dialog-container .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 1.5rem !important; /* rounded-3xl */
  overflow: hidden !important;
}